.formWrapper {
  margin: 0 auto;
  width: 630px;
  position: relative;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

input {
  width: 300px;
  height: 56px;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  color: #e0e0e0;

  padding-left: 50px;

  outline: none;
}

input:hover,
input:focus {
  border-color: #67d9b7;
}

/* input.inputLastName:focus + label.lastNameLabel,
input.inputLastName:not(:placeholder-shown) + label.lastNameLabel {
  color: #67d9b7;
  top: 10px;
} */

input:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

.inputLastName,
.inputPhone,
.inputPasswordConfirm,
.inputCheckbox {
  margin-left: 30px;
}

.firstNameLabel,
.lastNameLabel,
.phoneLabel,
.passwordLabel,
.passwordConfirmLabel,
.emailLabel {
  font-weight: 300;
  font-size: 19px;
  line-height: 23px;
  color: #e0e0e0;
}

.inputCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 300px;
  top: 273px;
  height: 20px;
  width: 20px;
}

.checkMark {
  border: 1px solid #67d9b7;
  box-sizing: border-box;
  box-shadow: 0px 28px 25px -25px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 20px;
  height: 20px;
  margin-right: 11px;
}

.inputCheckbox:checked ~ .checkMark {
  background-color: #6ceec7;
  transition: 0.3s;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-left: 30px;

  width: 300px;
  height: 56px;
}

.checkboxLabel {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #e0e0e0;
}

.checkboxLabel .link {
  color: #6ceec7;
}

.inputFirstName {
  position: relative;
}

.firstNameLabel {
  position: absolute;
  top: 17px;
  left: 50px;
}

.userIcon {
  position: absolute;
  top: 18px;
  left: 18px;
}

.inputLastName {
  position: relative;
}

.lastNameLabel {
  position: absolute;
  top: 17px;
  left: 380px;
}

.usersIcon {
  position: absolute;
  top: 18px;
  left: 347px;
}

.phoneLabel {
  position: absolute;
  top: 104px;
  left: 380px;
}
.phoneIcon {
  position: absolute;
  top: 104px;
  left: 347px;
}

.passwordLabel {
  position: absolute;
  top: 189px;
  left: 50px;
}

.padlock {
  position: absolute;
  top: 187px;
  left: 18px;
}

.passwordConfirmLabel {
  position: absolute;
  top: 189px;
  left: 380px;
}

.passwordConfirmIcon {
  position: absolute;
  top: 187px;
  left: 347px;
}

.emailLabel {
  position: absolute;
  top: 275px;
  left: 50px;
}

.emailIcon {
  position: absolute;
  top: 275px;
  left: 18px;
}
